attrs==19.1.0
bleach==3.1.0
cloudpickle==0.8.0
Cython==0.29.6
dask==1.1.4
defusedxml==0.5.0
entrypoints==0.3
idna==2.7
jedi==0.13.3
Jinja2==2.10
joblib==0.13.2
jsonschema==3.0.1
pyparsing==2.3.1
pytz==2018.9
PyWavelets==1.0.2
scikit-image==0.14.2
testpath==0.4.2
visdom==0.1.8.5
websocket-client==0.54.0
torchvision==0.2.1